:root{
    --bodybgdark: rgba(20, 1, 17, 1);
    --boxbg:#fef2f2;
    --bgdark:#333;
    --bglight:#fff;
}

body{
    background: var(--bglight);
    overflow: hidden;
    transition: .5s ease;
}

body.dark{
    background: var(--bodybgdark);
    overflow: hidden;
    --boxbg: #000;
    --bgdark: #fff;
    --bglight: #333;
}
.icons{
    direction: rtl;
    position: relative;
    display: flex;
}
.icons img{
    height: 25px;
    margin: 10px;
    cursor: pointer;
}
.theme img{
    position: absolute;
}
#dark-mode{
    display: none;
}
.box{
    width: fit-content;
    margin: 5vh auto;
    background-color: var(--boxbg);
    border-radius: 7px;
    padding: 20px;
    box-shadow: 22px;
}
.box input{
    height: 5rem;
    width: 20rem;
    outline: none;
    border: none;
    font-size: 50px;
    cursor:default;
    text-align: right;
    color: var(--bgdark);
    background:var(--bglight);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:lighter;
    border-radius: 20px;
    text-overflow: ellipsis;
}
.box input::placeholder{
    color: var(--bgdark);
}
.main{
    margin: 3px;
    padding-bottom: 4px;
}
.section{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.section button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius:  50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    width: 4rem;
    height: 4rem;
    font-size: 25px;
    color: var(--bgdark);
    background-color: var(--bglight);
    cursor: pointer;
    outline: none;
    border: none;
    position: relative;
    margin: 8px;
}
button img{
    height: 30px;
}
button:active{
    background: rgba(0, 255, 149, 0.486);
}
#minus{
    vertical-align: middle;
}
#Ans{
    background:rgb(244,73,81);
    color: white;
}
#clear,#double{
    background: #efc1ae;
    color: #000;
}
#delete img{
    height: 45px;
}
.section button:last-child{
    background: rgb(240,144,109);
}
.section button:last-child:active{
    background: rgba(0, 255, 149, 0.486);
}